
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<CascadingValue Name="Counter" Value="@currentCount" IsFixed="true">
    <CascadingValue Name="TitleColor" Value="@("blue")">
        <Component1></Component1>
    </CascadingValue>
</CascadingValue>

@code {
    [Parameter]
    public EventCallback<int> SetCurrentCount { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        SetCurrentCount.InvokeAsync(currentCount);
    }
}