<div class="ml-5">
<h3 style="color:@Color">Component2</h3>

<p>
    Count: @CountValue
</p>
</div>

@code {
    [CascadingParameter(Name = "Counter")]
    public int CountValue { get; set; }
    [CascadingParameter(Name = "TitleColor")]
    public string? Color { get; set; }
}